[package]
name = "feruca"
version = "0.5.2"
edition = "2021"
license = "MIT"
authors = ["Theo Beers <theo.beers@fu-berlin.de>"]
repository = "https://github.com/theodore-s-beers/feruca"
description = "An implementation of the Unicode Collation Algorithm"
keywords = ["Unicode", "collation", "sorting"]
categories = ["algorithms", "internationalization", "text-processing"]
exclude = ["/test-data/"]

[dependencies]
bincode = "1.3.3"
bstr = "1.0.1"
lru = "0.8.0"
once_cell = "1.14.0"
rustc-hash = "1.1.0"
serde = { version = "1.0.144", features = ["derive"] }
tinyvec = { version = "1.6.0", features = ["serde"] }
unicode-canonical-combining-class = { git = "https://github.com/theodore-s-beers/unicode-canonical-combining-class" }

[dev-dependencies]
criterion = "0.4.0"

[[bench]]
name = "conformance"
harness = false
